body,
html {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

label {
  color: #fff;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
  border-radius: 3px 3px 0 0;
  margin-bottom: -5px;
  cursor: pointer
}

a,
a:hover {
  color: #fff;
}

.active a {
  color: #107BFD;
  cursor: pointer;
}


.text {
  margin-bottom: 40px;
  width: 300px;
  font-size: 1.1em;
}

.group {
  margin-right: 70px;
}

.group iframe:first-child {
  margin-bottom: 86px;
}

.content {
  height: 27em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #33393F;
  width: 100%;
  color: white;
  font-size: 1.2em;
  margin-bottom: 0;
}

@media only screen and (max-width: 950px) {
  .inner-content {
    display: block;
  }
  .content {
    display: block;
  }
}
